In [7]:
import pandas as pd
df = pd.read_csv("intermediate_data/wineries.csv")
df.head()

,country,province,region_1,region_2,winery,winery_id
0,Italy,Sicily & Sardinia,Etna,NaN,Nicosia,0
1,Portugal,Douro,NaN,NaN,Quinta dos Avidagos,1
2,US,Oregon,Willamette Valley,Willamette Valley,Rainstorm,2
3,US,Michigan,Lake Michigan Shore,NaN,St. Julian,3
4,US,Oregon,Willamette Valley,Willamette Valley,Sweet Cheeks,4

### Fixing "country" and "province" Values

#### Add in missing "country" and "province" values
First, identify the wineries with missing "country" and "province" information and verify that they're the same

In [19]:
idx_missing_location = df[df['country'].isnull()].index
missing_countries = df["winery"].loc[idx_missing_location]

idx_missing_location = df[df['province'].isnull()].index
missing_provinces = df["winery"].loc[idx_missing_location]

list(missing_countries)==list(missing_provinces)

True

Then, look up the winery names and find the true values.

In [20]:
df["winery"].loc[idx_missing_location]

838                   Gotsa Family Wines
2636                   Barton & Guestier
3460     Kakhetia Traditional Winemaking
6715                            Tsililis
6837                            Ross-idi
7554                             Orbelus
8931                           St. Donat
9714                      Familia Deicas
10008                     Bartho Eksteen
13507                       Stone Castle
13508                     Teliani Valley
13511                          Undurraga
13912                      Mt. Beautiful
16794                         Neumeister
16956                          Bachelder
18523                            Chilcas
18714                          Santa Ema
19347                             Psagot
20966                     Newton Johnson
21470                      Ktima Voyatzi
25333                            Lismore
25334                            Logodaj
25958                      Somlói Vándor
27408                  Les Frères Dutruy
28854                        El Capricho
29464                  Amiran Vepkhvadze
30376                          Büyülübağ
Name: winery, dtype: object

**First half:**
| Winery    | Index | Country | Province |
| -------- | ------- | ------- | ------- |
| Gotsa Family Wines | 838 | Georgia | Kvemo Kartli |
| Barton & Guestier | 2636 | France | Gironde |
| Kakhetia Traditional Winemaking | 3460 | Georgia | Kakheti |
| Tsililis |6715 | Greece | Thessaly |
| Ross-idi | 6837 | Bulgaria | Nikolaevo |
| Orbelus | 7554 | Bulgaria | Blagoevgrad |
| St. Donat | 8931 | Hungary | Veszprem |
| Familia Deicas | 9714 | Uruguay | Canelones |
| Bartho Eksteen | 10008 | South Africa | Western Cape |
| Stone Castle | 13507 | Kosovo | Jakove |
| Teliani Valley | 13508 | Georgia | Kakheti |
| Undurraga | 13511 | Chile | Santiago |
| Mt. Beautiful | 13912 | New Zealand | Canterbury |

In [29]:
df.at[838,"country"] = "Georgia"
df.at[838,"province"] = "Kvemo Kartli"
df.at[2636,"country"] = "France"
df.at[2636,"province"] = "Gironde"
df.at[3460,"country"] = "Georgia"
df.at[3460,"province"] = "Kakheti"
df.at[6715,"country"] = "Greece"
df.at[6715,"province"] = "Thessaly"
df.at[6837,"country"] = "Bulgaria"
df.at[6837,"province"] = "Nikolaevo"
df.at[7554,"country"] = "Bulgaria"
df.at[7554,"province"] = "Blagoevgrad"
df.at[8931,"country"] = "Hungary"
df.at[8931,"province"] = "Veszprem"
df.at[9714,"country"] = "Uruguay"
df.at[9714,"province"] = "Canelones"
df.at[10008,"country"] = "South Africa"
df.at[10008,"province"] = "Western Cape"
df.at[13507	,"country"] = "Kosovo"
df.at[13507	,"province"] = "Jakove"
df.at[13508	,"country"] = "Georgia"
df.at[13508	,"province"] = "Kakheti"
df.at[13511	,"country"] = "Chile"
df.at[13511	,"province"] = "Santiago"
df.at[13912,"country"] = "New Zealand"
df.at[13912,"province"] = "Canterbury"

**Second half:**
| Winery    | Index | Country | Province |
| -------- | ------- | ------- | ------- |
| Neumeister | 16794 | Austria | Styria |
| Bachelder | 16956 | Canada | Ontario |
| Chilcas | 18523 | Chile | Maule |
| Santa Ema | 18714 | Chile | Santiago |
| Psagot | 19347 | Israel | Judea and Samaria |
| Newton Johnson | 20966 | South Africa | Western Cape |
| Ktima Voyatzi | 21470 | Greece | Western Macedonia |
| Lismore | 25333 | South Africa | Western Cape |
| Logodaj | 25334 | Bulgaria | Blagoevgrad |
| Somlói Vándor | 25958 | Hungary | Veszprem | 
| Les Frères Dutruy | 27408 | Switzerland | Vaud |
| El Capricho | 28854 | Uruguay | Durazno |
| Amiran Vepkhvadze | 29464 | Georgia | Imereti | 
| Büyülübağ | 30376 | Turkey |Balıkesir |

In [30]:
df.at[16794,"country"] = "Austria"
df.at[16794,"province"] = "Styria"
df.at[16956,"country"] = "Canada"
df.at[16956,"province"] = "Ontario"
df.at[18523,"country"] = "Chile"
df.at[18523,"province"] = "Maule"
df.at[18714,"country"] = "Chile"
df.at[18714,"province"] = "Santiago"
df.at[19347,"country"] = "Israel"
df.at[19347,"province"] = "Judea and Samaria"
df.at[20966,"country"] = "South Africa"
df.at[20966,"province"] = "Western Cape"
df.at[21470,"country"] = "Greece"
df.at[21470,"province"] = "Western Macedonia"
df.at[25333,"country"] = "South Africa"
df.at[25333,"province"] = "Western Cape"
df.at[25334,"country"] = "Bulgaria"
df.at[25334,"province"] = "Blagoevgrad"
df.at[25958,"country"] = "Hungary"
df.at[25958,"province"] = "Veszprem"
df.at[27408,"country"] = "Switzerland"
df.at[27408,"province"] = "Vaud"
df.at[28854,"country"] = "Uruguay"
df.at[28854,"province"] = "Durazno"
df.at[29464,"country"] = "Georgia"
df.at[29464,"province"] = "Imereti"
df.at[30376,"country"] = "Turkey"
df.at[30376,"province"] = "Balıkesir"

In [32]:
# Check that there aren't any more null values
idx_missing_location = df[df['country'].isnull()].index
missing_countries = df["winery"].loc[idx_missing_location]

idx_missing_location = df[df['province'].isnull()].index
missing_provinces = df["winery"].loc[idx_missing_location]

print(missing_countries)
print(missing_provinces)

Series([], Name: winery, dtype: object)
Series([], Name: winery, dtype: object)

#### Check for "country" and "province" duplicates

### Cleaning "region_1" and "region_2" values

#### Check for duplicates