In [33]:
import pandas as pd

In [34]:
df = pd.read_csv("intermediate_data/wine_reviews.csv")
df.head()

,index,description,points,price,title,variety,designation,reviewer_id,winery_id
0,0,"Aromas include tropical fruit, broom, brimston...",87,NaN,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Vulkà Bianco,9,11608
1,1,"This is ripe and fruity, a wine that is smooth...",87,15.0,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Avidagos,15,12956
2,2,"Tart and snappy, the flavors of lime flesh and...",87,14.0,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,NaN,14,13018
3,3,"Pineapple rind, lemon pith and orange blossom ...",87,13.0,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,Reserve Late Harvest,0,14390
4,4,"Much like the regular bottling from 2012, this...",87,65.0,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Vintner's Reserve Wild Child Block,14,14621

In [35]:
df_clean = pd.read_csv("intermediate_data/wine_reviews_title_cleaned.csv")
df_clean.head()

,index,description,points,price,title,variety,designation,reviewer_id,winery_id
0,0,"Aromas include tropical fruit, broom, brimston...",87,NaN,Nicosia 2013 Vulkà Bianco,White Blend,Vulkà Bianco,9,11608
1,1,"This is ripe and fruity, a wine that is smooth...",87,15.0,Quinta dos Avidagos 2011 Avidagos Red,Portuguese Red,Avidagos,15,12956
2,2,"Tart and snappy, the flavors of lime flesh and...",87,14.0,Rainstorm 2013 Pinot Gris,Pinot Gris,NaN,14,13018
3,3,"Pineapple rind, lemon pith and orange blossom ...",87,13.0,St. Julian 2013 Reserve Late Harvest Riesling,Riesling,Reserve Late Harvest,0,14390
4,4,"Much like the regular bottling from 2012, this...",87,65.0,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Vintner's Reserve Wild Child Block,14,14621

In [36]:
pd.DataFrame().assign(title_old=df.title.sort_values(), title_clean=df_clean.title.sort_values())

,title_old,title_clean
63807,1+1=3 2008 Rosé Cabernet Sauvignon (Penedès),1+1=3 2008 Rosé Cabernet Sauvignon
55163,1+1=3 NV Brut Sparkling (Cava),1+1=3 NV Brut Sparkling
93375,1+1=3 NV Brut Sparkling (Cava),1+1=3 NV Brut Sparkling
33657,1+1=3 NV Cygnus Brut Nature Reserva Made With ...,1+1=3 NV Cygnus Brut Nature Reserva Made With ...
56109,1+1=3 NV Cygnus Brut Nature Reserva Made With ...,1+1=3 NV Cygnus Brut Nature Reserva Made With ...
...,...,...
5926,àMaurice 2014 Fred Estate Syrah (Walla Walla V...,àMaurice 2014 Fred Estate Syrah
128023,àMaurice NV Pour Me Red (Columbia Valley (WA)),àMaurice NV Pour Me Red
10290,Štoka 2009 Izbrani Teran (Kras),Štoka 2009 Izbrani Teran
70504,Štoka 2011 Grganja Vitovska (Kras),Štoka 2011 Grganja Vitovska
70505,Štoka 2011 Izbrani Teran (Kras),Štoka 2011 Izbrani Teran

## Cleaning steps in OpenRefine

* Trim leading and trailing whitespaces
* Collapse consecutive whitespaces
* Cluster and remove redundant title values (374 cells merged)
* Remove redundant location information by running `value.replace(/\W+\(.+\)$/, '')`
* Re-clustering to further remove redundant titles (68 cells merged)

In [38]:
df_title_unique = df.title.unique().size
df_clean_title_unique = df_clean.title.unique().size
reduction_rate = (df_title_unique - df_clean_title_unique) / df_title_unique
print(f'wine_reviews had {df_title_unique} unique titles')
print(f'wine_reviews_title_cleaned had {df_clean.title.unique().size} unique titles')
print(f'{reduction_rate*100:.2f}% defect reduction')

wine_reviews had 118840 unique titles
wine_reviews_title_cleaned had 117516 unique titles
1.11% defect reduction